	
@media screen and (max-width:399px){
			body,html{
					width:100%;
					margin:0;
					
			}
			

			
			.nav{
				width:100%;
				border-bottom:grey;
				height:90px;
				background:#fff;
				position:fixed;
				}
			.sidenav{
					width:100%;
					height:90vh;
					background:#fff;
					position:absolute;
					transform:translate(-100%,0);
					transition:transform 0.5s ease;
					display:block;
					
					
					
			}
			.footer{
				width:100%;
				position:absolute;
				bottom:0px;
				height:80px;
				background:#00B906;
				position:fixed;
				
			}
			.main{
					overflow:scroll;
					background:grey;
					height:100vh;
					}
			.main::-webkit-scrollbar{
			width:0.2em;
			background:#fff;
					}
	
			.iconContainer{
							width:100%;
							display:flex;
							flex-wrap:wrap;
							text-align:center;
							
							
			}
			.icon{
					width:33.3%;
					position:relative;
					top:12px;
					
			
			}
			.NavOption{
						position:relative;
						left:10%;
						top:15%;
						}
			.NavIcon{
						text-align:center;
						width:100%;
						padding-top:10px;
			
					}
			.logo{
					position:relative;
					left:35%;
					font-size:25px;
					font-weight:bold;
					top:-35%;
					
			}
			.notification{display:none;}
		}
			
			
			@media screen and (min-width:400px) {
			
			
			nav,main,footer{display:none;}
			
			.notification{
							display:block;
							text-align:center;
							position:absolute;
							left:0;
							top:0;
							width:100vw;
							height:100vh;
							font-size:50px;
							
			}
			
			
			}